.row
    .col-12
        %section.mt-4
            %h2.text-center Advantage Geophysics Inc.
            .card-body
                .card-text
                    %dl.row
                    %p Geophysical surveys provide a less expensive solution to projects which normally would involve costly excavation or drilling activities. 
                    %p Geophysical measurements provide a basis for projecting cultural and geological observations into the underground.
                    %p Geophysical methods are nondestructive, and relatively unobtrusive. 
                    %p Advantage Geophysics specializes in solving engineering, geotechnical, and environmental problems through geophysical data acquisition, processing and interpretation in terms of real world geology.
