.row
    .col-12.col-md-10.offset-md-1
        %h1.text-center Employees
        .table-responsive-md
            %table.table.table-striped.table-hover#employees
                %caption Table of Employees
                %thead.thead-dark
                    %tr
                        %th Name
                        %th Title
                %tbody
                    - @employees.each do |employee|
                        %tr
                            %td= employee.name
                            %td= employee.title
