.row
    .col-12.col-md-10.offset-md-1
        %h1= @employee.name
        %table{style: {border: 'none', background: {color: 'transparent'}, align: 'left', border: '0'}}
            %tbody
                %tr
                    %td{align: 'left', width: '25%'}
                        = image_tag(@employee.photo) 
                        - # employee photo tag path
                    %td{valign:'top', width: '75%'}
                        %h3 Title: 
                        %p= @employee.title
                        %h3 Description: 
                        %p= @employee.description