.row
    .col-12        
        %h1.text-center
            = @geophysical_method.name
        = image_tag(@geophysical_method.photo, class: 'd-block w-100')
        %h3.m-2 Description: 
        %p.m-2= @geophysical_method.description