.row
    .col-12.col-md-10.offset-md-1
        %h1 Contact Us
        %table{style: {border: 'none', background: {color: 'transparent'}, align: 'left', border: '0', width: '100%'}}
            %tbody
                %tr
                    %td{align: 'left', width: '50%'}
                        %p Phone Number: (760) 555-5555
                        %p Fax Number: (760) 555-5555
                    %td{valign:'top', width: '50%'}
                        %p Email: info@advantagegeophysics.com
                        Mailing Address: 
                        555 Hollywood Ave
                        San Diego, CA 90210
        %br
                
                